{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": ["styled-jsx-plugin-postcss"]
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "lib": "./lib",
          "containers": "./containers",
          "utils": "./lib/utils",
          "constants": "./lib/constants",
          "store": "./store"
        }
      }
    ]
  ]
}
